<div class="view">
    <div class="view__bar mat-elevation-z6">
        <div class="view__bar__left">
            <h1 class="view__bar__left__title">AssetTracker</h1>
        </div>
        <div class="view__bar__right">
            <button mat-button [matMenuTriggerFor]="currencyMenu">
                <ng-container *ngIf="getCurrency()">
                    {{ getCurrency().name }}
                </ng-container>
                <mat-icon>price_change</mat-icon>
            </button>
            <mat-menu #currencyMenu="matMenu" xPosition="before">
                <ng-container *ngIf="currencies">
                    <button mat-menu-item *ngFor="let currency of currencies" (click)="setCurrency(currency)">
                        {{ currency.name }}
                    </button>
                </ng-container>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="entityMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #entityMenu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="">Assets</button>
                <button mat-menu-item routerLink="products">Products</button>
                <button mat-menu-item routerLink="brands">Brands</button>
                <button mat-menu-item routerLink="form-factors">Form Factors</button>
                <button mat-menu-item routerLink="offices">Offices</button>
                <button mat-menu-item routerLink="currencies">Currencies</button>
            </mat-menu>
        </div>
    </div>
    <div class="view__main">
        <div class="view__main__content mat-elevation-z6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>