<mat-table [dataSource]="this">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let currency">
            <ng-container *ngIf="currency; else noData">
                {{ currency.name }}
            </ng-container>
            <ng-template #noData>
                <app-skeleton *ngIf="loading" width="48" height="14"></app-skeleton>
            </ng-template>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
        <mat-cell *matCellDef="let currency">
            <ng-container *ngIf="currency; else noData">
                {{ currency.code }}
            </ng-container>
            <ng-template #noData>
                <app-skeleton *ngIf="loading" width="48" height="14"></app-skeleton>
            </ng-template>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="exchangeRateRelativeToDollar">
        <mat-header-cell *matHeaderCellDef>Exchange Rate</mat-header-cell>
        <mat-cell *matCellDef="let currency">
            <ng-container *ngIf="currency; else noData">
                {{ currency.exchangeRateRelativeToDollar }}
            </ng-container>
            <ng-template #noData>
                <app-skeleton *ngIf="loading" width="48" height="14"></app-skeleton>
            </ng-template>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row matRipple *matRowDef="let row; columns: displayedColumns; let i = index" [class]="getRowClass(row)" (click)="openCurrencyDialog()"></mat-row>
</mat-table>
<mat-paginator #paginator [length]="count" [pageSize]="10"></mat-paginator>