<mat-table class="currency__table mat-elevation-z3" [dataSource]="this">
    <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
        <mat-cell *matCellDef="let currency">
            <ng-container *ngIf="currency; else noData">
                {{ currency.name }}
            </ng-container>
            <ng-template #noData>
                <app-skeleton *ngIf="loading" width="48" height="14"></app-skeleton>
            </ng-template>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [class]="getRowClass(row)" (click)="openCurrencyDialog()"></mat-row>
</mat-table>