.currency__search {
    display: flex;
    flex-direction: column;
    
}

.currency__search__fields {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1024px;
}

// Small
@media only screen and (min-width: 600px) {
    .currency__search__fields {
        grid-template-columns: 1fr 1fr;
    }
}