<form class="currency__search" [formGroup]="formGroup">
    <div class="currency__search__fields">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Codes</mat-label>
            <mat-select formControlName="codes" multiple>
                <mat-option *ngFor="let currency of currencies" [value]="currency.code">
                    {{ currency.code }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="currency__search_buttons">
        <button mat-raised-button type="reset" color="accent">Reset</button>
    </div>
</form>