.add__asset {
    display: flex;
    flex-direction: column;
}

.add__asset__fields {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
}

.add__asset__buttons {
    display: flex;
    justify-content: flex-end;
}

.add__asset__buttons > :last-child {
    margin-left: 16px;
}

// Small
@media only screen and (min-width: 600px) {
    .add__asset__fields {
        grid-template-columns: 1fr 1fr;
    }
}